<div class="container">
    <div class="truyen-de-cu">
        <div class="row">
            <div class="col-md-12">
                <h4>Truyện được đề cử</h4>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 12rem;">
                            <img src="../../../assets/imgs/nguoi-chong-mao-danh.jpg" class="card-img-top"
                                alt="Xin Chào, Chàng Trai Trẻ">
                            <div class="card-body">
                                <a title="NGƯỜI CHỒNG MẠO DANH" href="" class="card-title">NGƯỜI CHỒNG MẠO DANH</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>