<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom-color">
  <div class="container">
    <a class="navbar-brand" href="">Wikobo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{navItems.HOME_PAGE.name}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{navItems.DANH_MUC.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{navItems.NGON_TINH.link}}">{{navItems.NGON_TINH.name}}</a>
            <a class="dropdown-item" href="{{navItems.NGON_TINH.link}}">{{navItems.NGON_TINH.name}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{navItems.THU_VIEN_SACH.link}}">{{navItems.THU_VIEN_SACH.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{navItems.TRUYEN_VIP.link}}">{{navItems.TRUYEN_VIP.name}}</a>
        </li>
      </ul>
      <div class="input-group col-md-4 col-4 col-lg-4">
        <input type="text" class="form-control" placeholder="Nhập tên truyện" aria-label="Nhập tên truyện"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-light" type="button">Tìm truyện</button>
        </div>
      </div>
      <ul class="navbar-nav mr-auto text-right">
        <li class="nav-item">
          <a class="nav-link" href="{{userLink.LOGIN.link}}" title="Đăng nhập">
            {{userLink.LOGIN.name}}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{userLink.REGISTER.link}}">
            {{userLink.REGISTER.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>